DATABASE_URL=postgresql://ta33:ta33_local_dev_only@localhost:5432/ta33
ORS_API_KEY=replace_with_your_openrouteservice_key
ORS_DIRECTIONS_URL=https://api.openrouteservice.org/v2/directions/foot-walking/geojson
ORS_GEOCODE_AUTOCOMPLETE_URL=https://api.openrouteservice.org/geocode/autocomplete
ORS_GEOCODE_REVERSE_URL=https://api.openrouteservice.org/geocode/reverse
ORS_TIMEOUT_SECONDS=15
GEOCODE_RESULT_LIMIT=6
DATA_MODEL_PATH=../../sensory-melbourne-ob-data/model
